<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack overflow</title>
    <link rel="stylesheet" href="/home.css">
    <script src="https://kit.fontawesome.com/f6d53f6a14.js" crossorigin="anonymous"></script>
</head>
<body style="background-color: #000000;">
    <header class="header">
        <div class="main-header">
            <div class="menu">
                <a class="option" href="/submit_post">Post</a>
                <a class="option" href="/user-questions">Questions</a>
                <a class="option" href="">Users</a>
            </div>
            <div class="logo">
                <img class="logo-image" src="/question answering.jpg" alt="nothing">
            </div>
            <div class="user-inf">
                <img class="profile-photo" src="/icon.png" alt="nothing">
                <a class=log-out href="/message">Messages</a>
                <a class="log-out" href="/login">Log out</a>
            </div>
        </div>
        <form class="search-bar" action="" method="GET">
            <button class="search-button" type="submit">Look for</button>
            <input class="search-input" type="text" placeholder="&#x270e; Search here" name="searchInput">
        </form>
    </header>
</body>
</html>